.w100 {
    width: 100%;
}

.pos {
    position: relative;
}

.tag_line {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 14%;
    text-align: center;
}

.ban_ner {
    /* position: absolute;
    width: 100%;
    top: 0; */
}

.ban_ner .slider .mendor-box {
    margin-bottom: 0;
}

.banne_r {
    height: 474px;
    overflow: hidden;
}

.mendor-img img {
    width: 55px;
    height: 55px;
    border-radius: 25px;
}

.mendor-content .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #201663;
}

.mendor-price {
    color: #fe9445;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.feature-grid:hover {
    background-color: rgb(1 68 94);
}

.feature-grid:hover .feature-text-eight {
    color: #fff
}

.feature-grid:hover p {
    color: #fff!important
}

.logo_img {
    height: 68px;
    width: 103px;
}

.mendor-course {
    font-size: 16px;
    color: #201663;
    margin-bottom: 2px;
    display: -webkit-box;
    /* max-width: 400px; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rig_ht {
    float: right;
}

.form-group.search-info-eight.loc {
    flex: 0 0 77%;
}

.eg_bt {
    height: 42px!important;
    line-height: 38px!important;
}

.form-group.search-info-eight.loc input {
    height: 42px!important;
}

.top_b {
    padding: 30px 0!important;
    margin: 12% auto!important;
}

.tag_line h1 {
    width: 50%;
    margin: auto;
    font-size: 34px;
    color: #fff;
    text-transform: capitalize;
}

.tag_line h1 span {
    color: #fe9445;
    font-weight: bold;
}

.feature_slider .slick-slide {
    margin: 15px;
}

.feature_slider .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 46%;
    left: 0;
    z-index: 9;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.feature_slider .slick-next {
    right: 0px;
}

.feature_slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 46%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
}

.feature_slider .slick-prev:before {
    content: "\f053";
}

.feature_slider .slick-next:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.feature_slider .slick-prev:before {
    content: "\f053";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}

.faciulty_box {
    display: flex;
}


/* .feature_slider .slick-next:before, .feature_slider .slick-prev:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
} */

.faciulty_box .mendor-img {
    width: 30%;
}


/* =========modal-css========= */


/** Donna Galletta | LIGHTBOX MARKUP **/

.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;
    /** Unhide lightbox **/
    display: block;
}

.border-0 {
    border-radius: 0!important;
    overflow: auto!important;
}


/** videoModal **/

#videoModal {
    border-radius: 0;
    width: 870px;
    margin: auto;
}

#videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
    height: 35px;
}

#videoModal .modal-header h3 {
    font-size: 18px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden;
}

#videoModal .modal-footer:empty {
    display: none !important;
}

#videoModal .close {
    background: #db00b8;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px;
}


/* ------------------------- */

.panel--header {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 20px;
}

.panel--header h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

.panel--header h3 i.icon-edit {
    background-image: url(../img/icons/icon-edit.svg);
}

.bg-green {
    background-color: #27b999;
    position: relative;
}

.quiz-page::after {
    content: '';
    position: absolute;
    left: 5%;
    top: 13px;
    width: 90%;
    height: 1px;
    background-color: #17a082;
    z-index: 0;
}

.quiz-page {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 18px;
}

.quiz-page li.active {
    background-color: #000;
    color: #fff;
}

.quiz-page li {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    color: #000;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin: 0 0 0 4px;
    font-size: 14px;
    line-height: 26px;
}

.question {
    max-height: 250px;
    overflow: auto;
}

.quezz {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.quezz input {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.panal_body {
    min-height: 470px;
    max-height: 470px;
    overflow-y: auto;
    padding-bottom: 0%;
    background-color: #f3f9f8;
    padding-left: 3%;
}

.quezz label {
    width: 92%;
    font-size: 15px;
}

.quezz_btn {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 30px;
    width: 100%;
    padding: 7px 17px;
    background-color: #f3f9f8;
    padding-bottom: 12px;
}

.quezz_body {
    padding: 0 0 15px 0;
}

.fineshed .alert {
    background-color: #f06262;
    padding: 5px 13px;
    margin: 0;
}

.fineshed button {
    border-color: #a5a5a500;
    padding: 3px 8px;
    background-color: #9595957a;
    border-radius: 3px;
    color: #000;
    font-weight: 600;
}

.start button {
    border-color: #a5a5a500;
    padding: 3px 8px;
    background-color: #9595957a;
    border-radius: 3px;
    color: #000;
    font-weight: 600;
}

.bg-purple {
    background-color: #8f72ff;
}

.bg-alert {
    background-color: #ff668f;
}

.label .bg-red {
    background-color: #cbcfce;
}

.editorial-box:hover {
    background-color: #ffd066;
}

.editorial-box p {
    /* line-height: 1.4;
    min-height: 18px; */
    margin-bottom: 5px;
}

.editorial-box {
    background-color: #f5f4f4;
    padding: 1px 11px;
    margin-bottom: 4px;
}

.editorial-box ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    font-size: 14px;
    color: #707070;
    opacity: .5;
    filter: alpha(opacity=50);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

span.label.bg-red {
    background-color: #00425c;
    font-size: 12px;
    padding: 0 3px;
    border-radius: 3px;
}

.editorial-box p a {
    color: #000;
    text-decoration: none;
}

span.label.bg-red a {
    color: #fff;
}

ul.actions {
    padding-left: 7px;
}

ul li.date {
    background-image: url(../../assets/img/user/icon-calendar.svg);
}

.panal_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.panal_body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.panal_body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #01445e;
}

.br_b {
    border-bottom: 1px solid rgb(122, 117, 117)
}

.q_last {
    min-height: 523px;
    max-height: 523px;
}

.news_d {
    font-size: 15px;
    color: #201663;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mendor-content {
    padding: 15px 0 5px!important;
}

.mendor-content .title a {
    font-size: 15px;
    color: #201663;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.search {
    background-color: #01445e;
    padding: 1.3% 0;
}
/* --------video-slider--------- */
.video-slider .slick-next:before, .video-slider .slick-prev:before {
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #fff;
    opacity: 1;
    font-size: 15px;
}
.video-slider .slick-prev, .video-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgb(0 0 0/20%);
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe9445;
    color: #fff;
    z-index: 9;
}

.video-slider .slick-prev {
    left: 0px;
}
.video-slider .slick-next {
    right: 0px;
}
.video-slider .slick-prev:before {
    content: "\f053";
}
.d_etail{
    list-style: none;
    padding-left: 10px;
}
.discreption p a {
    color: #0934ad;font-size: 16px;
}
.d_etail li {
display: flex;
align-items: center;
gap: 10px;    font-size: 16px;padding: 6px 0px;
}
.d_etail li i{
font-size: 20px;
color: #17a082;
}























/* ---------quezz---------- */

#quiz {
    margin: -44px 50px 0px;
    position: relative;
    width: calc(100% - 100px);
}

#quiz h1 {
    color: #fafafa;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    line-height: 44px;
}

#quiz button {
    float: right;
    margin: 8px 0px 0px 8px;
    padding: 4px 8px;
    background: #9acfcc;
    color: #00403c;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#quiz button:hover {
    background: #36a39c;
    color: #fff;
}

#quiz button:disabled {
    opacity: 0.5;
    background: #9acfcc;
    color: #00403c;
    cursor: default;
}

#question {
    padding: 20px;
    background: #fafafa;
}

#question h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

#question input[type="radio"] {
    display: none;
}

#question label {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    background: #fae3bb;
    color: #4c3000;
    width: calc(50% - 8px);
    min-width: 100px;
    cursor: pointer;
}

#question label:hover {
    background: #ebbb67;
}

#question input[type="radio"]:checked+label {
    background: #cb8306;
    color: #fafafa;
}

#quiz-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 44px;
    left: 0px;
    background: #fafafa;
    width: 100%;
    height: calc(100% - 44px);
}

#quiz-results-message {
    display: block;
    color: #00403c;
    font-size: 20px;
    font-weight: bold;
}

#quiz-results-score {
    display: block;
    color: #31706c;
    font-size: 20px;
}

#quiz-results-score b {
    color: #00403c;
    font-weight: 600;
    font-size: 20px;
}


/* -------mmmm------- */


/*----- media queries ------*/

@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .main-nav>li {
        margin-right: 13px;
    }
    .logo {
        display: inline-block;
        margin-right: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .main-nav>li {
        margin-right: 13px;
    }
    .logo {
        display: inline-block;
        margin-right: 30px;
        width: 100%;
    }
}


/*----- media queries ------*/